<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
</head>
<body>

<h1>Giỏ hàng</h1>

<table border="1">
    <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>SL</th>
        <th>Tổng</th>
    </tr>

    <tr>
        <td th:text="${productName}"></td>
        <td th:text="${price}"></td>
        <td th:text="${qty}"></td>
        <td th:text="${total}"></td>
    </tr>
</table>

<br>

<h2>Tổng thanh toán: $<span th:text="${total}"></span></h2>

<!-- Paypal Button -->
<div>
    <div>
        <style>.pp-2WD7SUEXD8BZW{text-align:center;border:none;border-radius:0.25rem;min-width:11.625rem;padding:0 2rem;height:2.625rem;font-weight:bold;background-color:#FFD140;color:#000000;font-family:"Helvetica Neue",Arial,sans-serif;font-size:1rem;line-height:1.25rem;cursor:pointer;}</style>

        <form action="https://www.paypal.com/ncp/payment/2WD7SUEXD8BZW" method="post" target="_blank" style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
            <input class="pp-2WD7SUEXD8BZW" type="submit" value="Mua ngay" />
            <img src=https://www.paypalobjects.com/images/Debit_Credit.svg alt="cards" />
            <section style="font-size: 0.75rem;"> Được cung cấp bởi <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;vertical-align:middle;"/></section>
        </form>
    </div>

</div>

</body>
</html>