<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Web xem phim</title>
</head>
<body>

<form action="/search" method="GET">

    <input type="hidden" name="id" placeholder="id" th:value="${movie.id}"/>

    <input type="text" name="title" placeholder="title" th:value="${movie.title}"/>

    <input type="number" name="year" placeholder="year" th:value="${movie.year}"/>

    <input type="text" name="genre" placeholder="genre" th:value="${movie.genre}"/>

    <input type="text" name="director" placeholder="director" th:value="${movie.director}"/>

    <input type="text" name="rating" placeholder="rating" th:value="${movie.rating}"/>

    <input type="submit" name="submit" value="Save"/>
</form>
</body>

</html>